/* This file is for adding and modifying fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

@font-face {
    font-family: "Montserrat Regular";
    src: url("../fonts/Montserrat\ Alternates/MontserratAlternates-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat\ Alternates/MontserratAlternates-Bold.ttf");
}

@font-face {
    font-family: "Montserrat Bold Italic";
    src: url("../fonts/Montserrat\ Alternates/MontserratAlternates-BoldItalic.ttf");
}

@font-face {
    font-family: "Montserrat Italic";
    src: url("../fonts/Montserrat\ Alternates/MontserratAlternates-Italic.ttf");
}

@font-face {
    font-family: "Montserrat Medium";
    src: url("../fonts/Montserrat\ Alternates/MontserratAlternates-Medium.ttf");
}

@font-face {
    font-family: "Montserrat Medium Italic";
    src: url("../fonts/Montserrat\ Alternates/MontserratAlternates-MediumItalic.ttf");
}

@font-face {
    font-family: "Montserrat Alternates Regular";
    src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Alternates Bold";
    src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf");
}

@font-face {
    font-family: "Montserrat Alternates Bold Italic";
    src: url("../fonts/Montserrat_Alternates/MontserratAlternates-BoldItalic.ttf");
}

@font-face {
    font-family: "Montserrat Alternates Italic";
    src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Italic.ttf");
}

@font-face {
    font-family: "Montserrat Alternates Medium";
    src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf");
}

@font-face {
    font-family: "Montserrat Alternates Medium Italic";
    src: url("../fonts/Montserrat_Alternates/MontserratAlternates-MediumItalic.ttf");
}