body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.logo {
    width: 5%;
    height: 5%;
}

.navbar {
    user-select: none;
}

@media screen and (max-width: 992px) {
    .navbar-collapse {
        height: 100vh;
    }
}