/* This is the global stylesheet for the entire website */
/* To add new font please see the fonts.css file */

body {
    font-family: 'Montserrat Regular', sans-serif;
}

.logo {
    width: 5%;
    height: 5%;
}

.navbar {
    user-select: none;
}

.text-accent {
    color: #57AEFF;
}

@media screen and (max-width: 992px) {
    .navbar-collapse {
        height: 100vh;
    }
}

.carousel-indicator {
    transform: scaleX(0.4) scaleY(4);
    border-radius: 100%;
}