/* This file is only used in index.html page */
/* I've removed div {width: 1245px;} because it ruined the navbar D: */

.mission-vision {
    height: 100%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 78px;
}

.subtitle {
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.mission-vision .subtitle {
    font-size: 36px;
    font-weight: 600;
    margin-top: 50px;
    text-align: left;
}

.text {
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    margin-top: 1vh;
    margin-bottom: 0px;
}

.vstup_rectangle {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    height: 118px;
    background: linear-gradient(90deg, #57aeff 40%, rgb(9, 50, 114) 130%);
}

#blocks {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.group-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    gap: 10vw;

}

#accordionExample {
    width: 50vw;
}

#carouselExample {
    width: 30vw;
}

.vstup_rectangle {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 50px;
    height: 118px;
    background: linear-gradient(90deg, #57aeff 40%, rgb(9, 50, 114) 130%);
}

.image {
    height: 100px;
    width: 100px;
    margin-left: 28px;
}

.vstup_rectangle .text {
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    margin-left: 59px;
}

.fill_form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 57px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    border-radius: 25px;
    margin-left: auto;
    margin-right: 169px;
}

.slide {
    display: flex;
    position: relative;
    width: 1442px;
    height: 817px;
    margin: 0 auto;
    margin-top: 51px;
    margin-bottom: 100px;
}

.rectangle_blue {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #57aeff;
    width: 757px;
    border-radius: 0;
}

.slide .text {
    color: white;
    font-size: 28px;
    font-weight: 400;
    margin: 0 105px 0 105px;
}

.slide .image {
    margin: 0;
}

.rectangle_blue img {
    position: absolute;
    top: 0;
    left: 0;
}

.lightning {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 0%;
}