

.classroom {
  width: 50%;
}

.center-text {
  text-align: center;
  width: 75vw;
  margin: 0 auto;
  margin-top: 70px;
}

.modern_title {
  color: #57aeff;
  font-size: 48px;
  font-family: "Montserrat Alternates Bold";
  font-weight: 700;
  word-wrap: break-word;
}

.modern_text {
  text-align: initial;
  color: black;
  font-size: 32px;
  font-family: "Montserrat Alternates Regular";
  font-weight: 400;
  word-wrap: break-word;
  float: left;
}

.grid {
  margin: 0 auto;
  margin-top: 40px;
  width: 75vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.grid img {
  padding: 3%;
  height: 355px;
  width: 100%;
  object-fit: cover;
}
