.infrastruktura {
    position: relative;
    font-size: 100px;
    font-family: "Montserrat Alternates Bold";
    font-weight: 700;
    letter-spacing: 15px;
    text-align: center;
    margin-top: 359px;
}

.infrast {
    color: black;
    padding: 0;
}

.ruktura {
    color: #57AEFF;
    font-size: 100px;
    font-family: "Montserrat Alternates Bold";
    font-weight: 700;
    letter-spacing: 15px;
    word-wrap: break-word
}

.classroom {
    width: 48%;
}

.paragraph {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 70px;
}

.paragraph_title {
    color: #57AEFF;
    font-size: 48px;
    font-family: "Montserrat Alternates Bold";
    font-weight: 700;
    word-wrap: break-word;
}

.paragraph_text {
    color: black;
    font-size: 32px;
    font-family: "Montserrat Alternates Regular";
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
    padding: 15px;
}

.tablica {
    margin: auto;
    margin-top: 70px;
    max-width: 50%;
}

.grid {
    width: 50%;
    margin: auto;
}

.grid img {
    height: 500px;
    padding: 15px;
    transition: 1s;
}

.grid img:hover {
    transform: scale(1.5);
}

.vstavka {
    font-family: "Montserrat Alternates Regular";
    font-size: 32px;
    font-weight: 400;
    text-align: justify;
    padding: 30px;
    margin: 50px 0 50px 0;
}

#underTable {
    margin-top: 200px;
}

#footer {
    margin-top: 500px;
}